<template>
	<section>
		<h1>Your Deck :</h1>
		<article v-if="currDeckList && currDeckList.mainboard">
			<section class="main board">
				<h2>Mainboard</h2>
				<ul>
					<li v-for="(item, index) in currDeckList.mainboard" :key="index">
						{{ index }} : {{ item.quantity }}.
					</li>
				</ul>
			</section>
			<section v-if="hasSideboard" class="side board">
				<h2>Sideboard</h2>
				<ul>
					<li v-for="(item, index) in currDeckList.sideboard" :key="index">
						{{ index }} : {{ item.quantity }}.
					</li>
				</ul>
			</section>
		</article>
		<article v-else class="noDeck">
			No decklist found. Please enter your decklist
			<nuxt-link to="/">here</nuxt-link> to have it checked.
		</article>
	</section>
</template>

<script lang="ts">
import { createComponent, computed } from "@vue/composition-api";
// import { createComponent, reactive } from "@vue/composition-api";
import { useCurrentDeck } from "@/storage/decklistStore";
import "@/toolBox/tsDefinitions/DecklistDefinitions";

export default createComponent({
	name: "DeckCheck",
	setup() {
		const currDeckList = useCurrentDeck();
		const hasSideboard = computed(
			() =>
				currDeckList &&
				currDeckList.value &&
				Object.keys(currDeckList.value.sideboard).length
		);
		return { currDeckList, hasSideboard };
	}
});
</script>

<style lang="scss">
article {
	display: block;
}
</style>
