<template>
	<section>
		<h1>MTG Deckcheck</h1>
		<h2>Please enter your deck here :</h2>
		<div>
			<textarea
				v-model="deckSubmitted.text"
				name="currDeckListSubmit"
				cols="30"
				rows="10"
			></textarea>
			<button @click="checkDeckSubmission">Submit</button>
		</div>
		<article v-if="deckSubmitted.loading" class="loading">
			Loading...
		</article>
		<article v-if="deckSubmitted.invalid.state" class="invalid">
			A line appears to be badly formatted :
			{{ deckSubmitted.invalid.line }}. Please make sure that it is well written.
		</article>
		<article
			v-if="deckSubmitted.error.state && deckSubmitted.error.status === 404"
			class="error"
		>
			We were not able to find the following card :
			{{ deckSubmitted.error.text }}. Please make sure that it is well written or
			check your Internet connection.
		</article>
		<article
			v-if="deckSubmitted.error.state && deckSubmitted.error.status !== 404"
			class="error"
		>
			An error occured while we were fetching data. We apologize for the
			inconvenience.
		</article>
	</section>
</template>

<script lang="ts">
import { createComponent, reactive, computed } from "@vue/composition-api";
// import { Route } from "vue-router/types/router";
import { submitNewDeck } from "@/storage/decklistStore";
import getCardData from "@/toolBox/apiMethods";
import "@/toolBox/tsDefinitions/DecklistDefinitions";

export default createComponent({
	setup(_props, context) {
		const router = computed(() => context.root.$router);
		const linesToIgnore = ["Deck", "Sideboard", ""];
		const patternToIgnore = /^(\/\/|View deck:)/;
		const deckSubmitted = reactive({
			text: "",
			mainboard: [] as Array<string>,
			sideboard: [] as Array<string>,
			invalid: {
				state: false,
				line: ""
			},
			error: {
				state: false,
				status: 0,
				text: ""
			},
			loading: false
		});
		const currDeckList = reactive({
			mainboard: {},
			sideboard: {}
		}) as DeckList;
		const resetExceptionsState = (): void => {
			type keyType = "invalid" | "error";
			const keysToReset = ["invalid", "error"] as Array<keyType>;
			for (const key of keysToReset) {
				deckSubmitted[key].state = false;
			}
		};
		const isUselessLine = (line: string): boolean => {
			return (
				patternToIgnore.test(line) ||
				linesToIgnore.some(ignoredLine => line === ignoredLine)
			);
		};
		const isValidLine = (line: string): boolean => {
			return /^(\d+ \w+)/.test(line) || isUselessLine(line);
		};
		const getCardName = (line: string): string => {
			return !isUselessLine(line)
				? line.replace(/\d+ /, "").replace(/ \([A-Z|a-z]+\d*\) \d+/, "")
				: "";
		};
		const lookUpCards = async (
			submittedList: Array<string>,
			listType: boardType
		): Promise<boolean> => {
			const cardPromisesList = [] as Array<[number, Promise<Card>]>;
			for (const line of submittedList) {
				const cardQuantity = Number(line.replace(/ .*/, ""));
				const cardName = getCardName(line);
				if (cardName === "") continue;
				try {
					const result = [cardQuantity, getCardData(cardName)] as [
						number,
						Promise<Card>
					];
					cardPromisesList.push(result);
				} catch (error) {
					// // eslint-disable-next-line no-console
					// console.log(error.response);
					deckSubmitted.error.text = line;
					deckSubmitted.error.state = true;
					return false;
				}
			}
			try {
				await Promise.all(cardPromisesList.map(el => el[1]));
				cardPromisesList.forEach(async cardResult => {
					const result = await cardResult[1];
					currDeckList[listType][result.name] = result;
					currDeckList[listType][result.name].quantity = cardResult[0];
				});
			} catch (error) {
				// // eslint-disable-next-line no-console
				// console.log(error);
				// console.log(Object.keys(error));
				// console.log(Object.values(error));
				// let card;
				// if (error.config)
				const card = error.config.url.replace(
					"https://api.scryfall.com/cards/search?q=",
					""
				);
				if (!error.response || error.response.status === 404) {
					deckSubmitted.error.text = card;
					deckSubmitted.error.text = "404";
				} else {
					deckSubmitted.error.text = error.response.statusText;
					deckSubmitted.error.status = error.response.status;
				}
				deckSubmitted.error.state = true;
				return false;
			}

			return true;
		};
		const sepMainFromSide = (submittedList: Array<string>): void => {
			const mainStart = submittedList[0] === "Deck" ? 1 : 0;
			const sideboardLine = submittedList.findIndex(line =>
				line.includes("Sideboard")
			);
			const sideStart =
				sideboardLine !== -1
					? sideboardLine
					: submittedList.findIndex(line => line === "");
			deckSubmitted.mainboard = submittedList
				.slice(mainStart, sideStart !== -1 ? sideStart : submittedList.length)
				.filter(line => line !== "");
			deckSubmitted.sideboard = submittedList
				.slice(
					sideStart !== -1 ? sideStart + 1 : submittedList.length,
					submittedList.length
				)
				.filter(line => line !== "");
		};
		const checkDeckSubmission = async (): Promise<void> => {
			resetExceptionsState();
			if (deckSubmitted.text === "") return;
			const submittedList = deckSubmitted.text.split("\n");
			if (submittedList.some(line => !isValidLine(line))) {
				deckSubmitted.invalid.line =
					submittedList.find(line => !isValidLine(line)) || "";
				deckSubmitted.invalid.state = true;
				return;
			}
			deckSubmitted.loading = true;
			sepMainFromSide(submittedList);
			if (!(await lookUpCards(deckSubmitted.mainboard, "mainboard"))) {
				deckSubmitted.loading = false;
				return;
			}
			if (!(await lookUpCards(deckSubmitted.sideboard, "sideboard"))) {
				deckSubmitted.loading = false;
				return;
			}
			submitNewDeck(currDeckList);
			router.value.push("/deck-check");
		};
		return {
			deckSubmitted,
			checkDeckSubmission
		};
	}
	// beforeRouteLeave(to: Route, _from: Route, next: () => void) {
	// 	// console.log(from);
	// 	if (to.name === "deck-check" && this.deckSubmitted.found) {
	// 		this.deckSubmitted.loading = false;
	// 		this.deckSubmitted.found = false;
	// 	}
	// 	// console.log(this.deckSubmitted);
	// 	next();
	// }
});
</script>

<style lang="scss">
article {
	display: block;
}
</style>
